$item-background: rgba(120, 120, 120, .2);

.item {
    text-align: center;
    background-color: $item-background;
    cursor: default;

    &__image {
        cursor: pointer;
    }

    &__title {
        font-size: 1em;
        padding: 0 10px;
        height: 3em;
    }

    &__subtitle {
        font-size: .75em;
        padding: 0 10px;
        margin-bottom: .5em;
        height: 3em;
    }

    .ellipsify {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

}

