$width-xs: 480px;

.item-filter {

    &__select {
        margin: 1em;
        display: inline-block;

        div {
            cursor: pointer;
            z-index: 1001;
        }

        @media (max-width: #{$width-xs}) {
            margin: 0;
            width: 100% !important;
            padding: 1em;
        }
    }

}