@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import "./bootstrap";

$roboto-slab: 'Roboto Slab', serif;
$primary-color: #000000;
$default-size: 12px;
$header-height: 50px;
$header-background-color: rgb(26, 26, 26);

.collection-items {
  font-family: 'Raleway', Arial, sans-serif;
  color: $primary-color;
  font-size: $default-size;

  &__header {
    width: 100%;
    height: $header-height;
    background-color: $header-background-color;
  }

}
