$width-md: 768px;

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 35px;
    height: 30px;
    left: 20px;
    top: 10px;

    button:focus {
        outline: none;
    }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: $menu-logo-color;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: $menu-secondary-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;

    button:focus {
        outline: none;
    }
}

/* Color/shape of close button cross */
.bm-cross {
    background: $menu-primary-color;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;

    @media (max-width: #{$width-md}) {
        width: 100% !important;
    }
}

/* General sidebar styles */
.bm-menu {
    background: $menu-background-color;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    margin-top: -5px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373A47;
}

/* Wrapper for item list */
.bm-item-list {
    color: $menu-primary-color;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    margin-top: -5px;
}